<h1>{{title}}</h1>

<form id="productForm" style="margin-bottom: 20px;">
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Descripción" required>
    <input type="text" id="code" placeholder="Código" required>
    <input type="number" id="price" placeholder="Precio" required>
    <input type="number" id="stock" placeholder="Stock" required>
    <input type="text" id="category" placeholder="Categoría" required>
    <button type="submit">Agregar Producto</button>
</form>

<ul id="productList">
    <!-- Productos actualizados por websockets -->
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
